<script>
    let action_template = {
        type: "action",
        fields: [
            { 
                name: "position",
                groups: [
                    {
                        label: "Top",
                        inputs: [
                            {
                                tag: "input",
                                attributes: [
                                    {name: "type", value: "number"},
                                    {name: "id", value: "top"},
                                    {name: "name", value: "top"}
                                ],
                                default_value: "200"
                            },
                            {
                                tag: "select",
                                attributes: [
                                    {name: "id", value: "top-unit"},
                                    {name: "name", value: "top-unit"}
                                ],
                                options: [
                                    {value: "px", text: "px"},
                                    {value: "%", text: "%"}
                                ],
                                default_value: "px"
                            }
                        ]
                    },
                    {
                        label: "Left",
                        inputs: [
                            {
                                tag: "input",
                                attributes: [
                                    {name: "type", value: "number"},
                                    {name: "id", value: "left"},
                                    {name: "name", value: "left"}
                                ],
                                default_value: "20"
                            },
                            {
                                tag: "select",
                                attributes: [
                                    {name: "id", value: "left-unit"},
                                    {name: "name", value: "left-unit"}
                                ],
                                options: [
                                    {value: "px", text: "px"},
                                    {value: "%", text: "%"}
                                ],
                                default_value: "%"
                            }
                        ]
                    }
                ]
            },
            {
                name: "transform", 
                groups: [
                    {
                        label: "Transform",
                        inputs: [
                            {
                                tag: "select", 
                                attributes: [
                                    {name: "id", value: "transform-type"}, 
                                    {name: "name", value: "transform-type"}
                                ], 
                                options: [
                                    {value: "rotate", text: "Rotate"},
                                    {value: "flip", text: "Flip"},
                                    {value: "skew", text: "Skew"}
                                ],
                                default_value: "rotate"
                            },
                            {
                                tag: "input", 
                                attributes: [
                                    {name: "type", value: "number"},
                                    {name: "id", value: "transform-value"}, 
                                    {name: "name", value: "transform-value"}
                                ], 
                                default_value: "45" 
                            }
                        ]
                    }
                ]
            }
        ]
    };
</script>