<script>
    templates["action_template_{{slot_number}}"] = {
        type: "action",
        fields: [
            {
                name: "transform", 
                groups: [
                    {
                        label: "Transform",
                        inputs: [
                            {
                                tag: "select", 
                                attributes: [
                                    {name: "id", value: "transform-type"}, 
                                    {name: "name", value: "transform-type"}
                                ], 
                                options: [
                                    {value: "rotate", text: "Rotate"},
                                    {value: "flip", text: "Flip"},
                                    {value: "skew", text: "Skew"}
                                ],
                                default_value: "rotate"
                            },
                            {
                                tag: "input", 
                                attributes: [
                                    {name: "type", value: "number"},
                                    {name: "id", value: "transform-value"}, 
                                    {name: "name", value: "transform-value"}
                                ], 
                                default_value: "45" 
                            }
                        ]
                    }
                ]
            }
        ]
    };
</script><script>
    document.getElementById('action-fieldset').parentNode.replaceChild(generateFieldsetFromTemplate("action", templates["action_template"]), document.getElementById('action-fieldset'));
</script>