<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Geo Space Cities</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    </head>
    <body>
        <div id="outer-container">
            <div id="inner-container-left">
                <form id="form">
                    <button hx-get="/content/new" hx-target="#form">Begin</button> 
                </form>
            </div>
            <div id="inner-container-right" style="position: relative;">
            </div>
        </div>
    </body>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>